* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  background: #252836;
}

#root {
  width: 100%;
  margin: 0 auto;
}
.active {
  box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.32);
}

.actives:hover {
  box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.32);
}

ul {
  cursor: pointer;
}

.indicator::after {
  content: "";
  position: absolute;
  background-color: #ea7c69;
  border-radius: 10px;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.indicator:hover::after {
  width: 100%;
}

.activeIndicator::after {
  content: "";
  position: absolute;
  background-color: #ea7c69;
  border-radius: 10px;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
}

.activeIndicator::after {
  width: 100%;
}

.apiData {
  scrollbar-width: none;
}

.addTo {
  scrollbar-width: none;
}

.shadow-btn {
  box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.3);
}
